<div class="row">
  <div class="col col-md-9">
    <table>
      <thead>
        <tr>
          <td>Item</td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col col-md-4">
    <section class="summary">

    </section>

    <button class="btn">Back</button>
    <button class="btn primary">Checkout</button>

    <section class="questions">

    </section>
  </div>
</div>

